/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}


/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #04AA6D;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}



body{
    background-image: url('./images/torahscroll.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    color: #fff;
    position: absolute;
    width: 100%;
    z-index: -1;
    font-family: sans-serif, monospace;
    font-display: swap;
  
}

.content{
    text-align: center;
}

/* contact */
#contact{
    color: #45a049;
}

.form{
width: 50%;
 margin: auto;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.jumbotron{
  
    border-radius: 25px 25px;
    padding: 20px;
    margin: 20px;
   
}
.jumbotron .lead {
  color:whitesmoke; /* Set text color for lead class */
}


footer{
  text-align: center;
  padding: 3px;
  background-color: grey;
  color: white;

}

/* scroll from down */
  
  #scroll-to-top {
    background:skyblue;
    background-color: #04AA6D;
    position: fixed;  /* Fix the button to a position */
    bottom: 20px;      /* Set the distance from the bottom */
    right: 20px;       /* Set the distance from the right */
    display: none;     /* Initially hide the button */
    transition: opacity 0.5s ease-in-out; /* Add a smooth fade-in/out effect (optional) */
  }
  
  #scroll-to-top:hover {
    opacity: 0.8; /* Change opacity on hover (optional) */
  }
 